table {
  margin-top: 20px;
  border-collapse: collapse;
}

.btn {
  margin-top: 20px;
  padding: 10px;
  background-color: #0077ff;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
.btn:hover {
  background-color: #005fcc;
}
