<h2>Lançamento de Notas e Faltas</h2>

<!-- Seleção de disciplina -->
<div class="box">
  <label>Selecione a disciplina:</label>
  <select (change)="onDisciplinaChange($event)">
    <option disabled selected> -- Escolha -- </option>
    <option *ngFor="let d of disciplinas">{{ d.nome }}</option>
  </select>
</div>

<!-- Exibir informações da disciplina -->
<div *ngIf="disciplinaSelecionada" class="info">
  <h3>Disciplina: {{ disciplinaSelecionada.nome }}</h3>
  <h4>Professor: {{ disciplinaSelecionada.professor.nome }}</h4>
</div>

<br>

<!-- Tabela de alunos -->
<table *ngIf="disciplinaSelecionada" border="1" cellpadding="8">
  <thead>
    <tr>
      <th>Aluno</th>
      <th>Nota 1º Bim</th>
      <th>Faltas 1º Bim</th>
      <th>Nota 2º Bim</th>
      <th>Faltas 2º Bim</th>
      <th>Média Final</th>
      <th>Lançar Faltas</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let l of lancamentos">
      <td>{{ l.aluno.nome }}</td>

      <td><input type="number" [(ngModel)]="l.notas.bimestre1"></td>

      <td>{{ contarFaltas(l,1) }}</td>

      <td><input type="number" [(ngModel)]="l.notas.bimestre2"></td>

      <td>{{ contarFaltas(l,2) }}</td>

      <td>{{ mediaFinal(l) }}</td>

      <td>
        <button (click)="l.showFaltas = !l.showFaltas">
          Mostrar Faltas
        </button>

        <div *ngIf="l.showFaltas">
          <p><b>1º Bimestre</b></p>
          <div class="faltas">
            <label *ngFor="let f of l.faltas.bimestre1">
              <input type="checkbox" [(ngModel)]="f.falta"> {{ f.dia }}
            </label>
          </div>

          <p><b>2º Bimestre</b></p>
          <div class="faltas">
            <label *ngFor="let f of l.faltas.bimestre2">
              <input type="checkbox" [(ngModel)]="f.falta"> {{ f.dia }}
            </label>
          </div>
        </div>
      </td>

    </tr>
  </tbody>

</table>

<button *ngIf="disciplinaSelecionada" (click)="salvar()">Salvar Lançamentos</button>
