<h2>Cadastro Aluno</h2>

<form (ngSubmit)="adicionarAluno()" #form="ngForm" style="margin-bottom: 20px;">
    <div>
        <label for="teste">Ra:</label>
        <input type="text" [(ngModel)]="novoAluno.ra" name="ra" required>

        <label for="">Nome:</label>
        <input type="text" [(ngModel)]="novoAluno.nome" name="nome" required>

        <label for="">Dt. Nascimento:</label>
        <input type="text" [(ngModel)]="novoAluno.dtNascimento" name="dtNascimento" required>

        <label for="">Curso:</label>
        <input type="text" [(ngModel)]="novoAluno.curso" name="curso" required>

        <label for="">CEP:</label>
        <input type="text" [(ngModel)]="novoAluno.cep" name="cep" (input)="buscarCep()" required>

        <label for="">logradouro:</label>
        <input type="text" [(ngModel)]="novoAluno.logradouro" name="logradouro" required>       
        
        <label for="">Bairro:</label>
        <input type="text" [(ngModel)]="novoAluno.bairro" name="bairro" required> 

        <label for="">Municipio:</label>
        <input type="text" [(ngModel)]="novoAluno.municipio" name="cep" required>

        <label for="">UF:</label>
        <input type="text" [(ngModel)]="novoAluno.uf" name="cep" required>
    </div>

    <button type="submit" [disabled]="form.invalid">Cadastrar</button>


</form>

<h3 *ngIf="listaAlunos.length > 0 ">Alunos Cadastrados</h3>
<h3 *ngIf="listaAlunos.length == 0 ">Nenhum Aluno Cadastrado</h3>

<table [cellPadding]="5" style="border-collapse: collapse; border: 1px solid #000; ">
    <thead>
        <tr *ngFor="let aluno of listaAlunos">
            <th>{{aluno.ra}}</th>
            <th>{{aluno.nome}}</th>
            <th>{{aluno.dtNascimento}}</th>
            <th>{{aluno.curso}}</th>
        </tr>
    </thead>
</table>